.App {
  text-align: center;
  Color: white;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

textarea {
  background: white;
}

body {
  background-image: linear-gradient(to right, orchid , pink, lightblue);
}

h1 {
  color: rgb(65, 27, 126);
}

button {
  color:rgb(65, 27, 126);
  background-color: paleturquoise
}

span {
  color: lightskyblue;
  font-size:50px;
}